---
import { getCollection } from 'astro:content';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import ArticleLatestList from '../../components/ArticleLatestList.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths({ paginate }) {
	const allArticles = await getCollection("articles");
	const sortedArticles = allArticles.sort((a, b) => a.data.date.getUTCFullYear() - b.data.date.getUTCFullYear()).reverse();

  return paginate(sortedArticles, {
    pageSize: 3,
  })
}

const { page } = Astro.props;
---

<Layout title="Jeyhun Abbasov">
	<Main>
		<H1 text="Latest Articles"/>
		<ArticleLatestList articles={page.data}/>
		<!-- TOOD: Fix prev button design -->
		{ page.url.prev ? (
			<a href={page.url.prev}>
				Prev
			</a>
		) : (<span></span>)}

		<!-- TOOD: Fix prev button design -->
		{ page.url.next ? (
			<a href={page.url.next}>
				Next
			</a>
		) : (<span></span>)}
	</Main>
</Layout>
