---
import { getCollection } from 'astro:content';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import PostList from '../../components/PostList.astro';
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';

export async function getStaticPaths({ paginate }) {
	const allPosts = await getCollection("posts");
	const sortedPosts = allPosts.sort((a, b) => a.data.date - b.data.date).reverse();

  return paginate(sortedPosts, {
    pageSize: 3,
  })
}

const { page } = Astro.props;
---

<Layout title="Jeyhun Abbasov">
	<Main>
		<H1 text="Latest Articles"/>
		<PostList posts={page.data}/>
		{ page.url.prev ? (
			<a href={page.url.prev}>
				Prev
			</a>
		) : (<span></span>)}
		{ page.url.next ? (
			<a href={page.url.next}>
				Next
			</a>
		) : (<span></span>)}
	</Main>
</Layout>
