---
import H1 from '../components/H1.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Jeyhun Abbasov">
	<H1 text="Hi there! I'm Jeyhun."/>
	<p>
		TBD! I am a Senior Software Engineer with 8+ years of professional experience in the Finance and Government sectors, and a solid 6 year academic background in Computer Science. I speak English, Turkish, Azerbaijani, and a bit of Estonian. I've mostly worked with these tools/technologies during my career:
	</p>
</Layout>
