---
import { getCollection } from 'astro:content';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import PostList from '../components/PostList.astro';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection("posts");
---

<Layout title="Jeyhun Abbasov">
	<Main>
		<div class="grid grid-cols-[70%_30%] gap-3">
			<div>
				<H1 text="Latest Articles"/>
				<PostList posts={posts}/>
			</div>
			<div>
				<H1 text="By Topic"/>
			</div>
		</div>

	</Main>
</Layout>
