---
import { getCollection } from 'astro:content';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import PostList from '../components/PostList.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => a.data.date - b.data.date).reverse();
const latestPosts = sortedPosts.slice(0, 3);
const featuredPosts = sortedPosts.filter(post => post.data.featured).slice(0, 3);
---

<Layout title="Jeyhun Abbasov">
	<Main>
		<div class="grid grid-cols-[70%_30%] gap-3">
			<div>
				<H1 text="Latest Articles"/>
				<PostList posts={latestPosts}/>
				<a href="/blog">Show More</a>
			</div>
			<div>
				<H1 text="Featured Content"/>
				<PostList posts={featuredPosts}/>
			</div>
		</div>
	</Main>
</Layout>
