---
import type  { CollectionEntry } from 'astro:content';
import ArticleLatest from './ArticleLatest.astro';

interface Props {
    articles?: CollectionEntry<'articles'>[];
};

const { articles } = Astro.props;
---

<div class="grid gap-10">
    {articles && articles.length > 0 ? (
        articles.map(article => <ArticleLatest article={article} />)
    ) : (
        <p class="text-text-muted text-center">No articles available.</p>
    )}
</div>