<!-- Footer -->
<footer class="bg-[#101729] text-text-secondary relative pt-16 pb-2 px-6 mt-16">
  <div class="absolute top-0 left-0 right-0 h-[100px] bg-no-repeat bg-cover" style="background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1440 100%27%3e%3cpath d=%27M0 26.173C209.539 42.968 448.239 49.387 716.102 45.429C983.966 41.47 1215.14 22.44 1440 0V100H0V26.173Z%27 fill=%27%231E293B%27 fill-opacity=%270.3%27 /%3e%3c/svg%3e'); transform: translateY(-100%);"></div>

  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
    <!-- Left Column -->
    <div class="md:col-span-2 lg:col-span-1">
      <div class="mb-8">
        <div class="flex items-center gap-2 mb-3">
          <span class="text-3xl font-bold text-slate-300">Jeyhun</span>
          <span class="text-3xl font-bold text-slate-300">Abbasov</span>
        </div>
        <p class="text-text-muted">Hi there, hope you're doing well!</p>
      </div>
      <div>
        <h3 class="font-semibold text-text mb-2">Want to know when I publish new content?</h3>
        <p class="text-text-muted text-sm mb-4">Enter your email to join my free newsletter:</p>
        <form class="flex items-center rounded-lg bg-slate-800 border border-yellow-500 hover:border-yellow-600 overflow-hidden">
          <input type="email" placeholder="samuel@yahoo.co.uk" class="bg-transparent text-text-secondary w-full px-4 py-3 focus:outline-none placeholder-slate-500 ">

          <button type="submit" class="group bg-yellow-500 hover:bg-yellow-600 p-3 transition-colors">
            <svg class="w-6 h-6 text-white transition-transform group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 12h16m-7-7 7 7-7 7"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
    
    <!-- Link Columns -->
    <div>
      <h2 class="text-sm font-bold tracking-widest uppercase text-text-muted mb-6">Topics</h4>
      <ul class="space-y-3">
        <li><a href="#" class="hover:text-text-highlight transition-colors">Algo</a></li>
        <li><a href="#" class="hover:text-text-highlight transition-colors">System Design</a></li>
        <li><a href="#" class="hover:text-text-highlight transition-colors">Behavioral</a></li>
        <li><a href="#" class="hover:text-text-highlight transition-colors">OOP</a></li>
        <li><a href="#" class="hover:text-text-highlight transition-colors">Multithreading</a></li>
      </ul>
    </div>
    <div>
      <h2 class="text-sm font-bold tracking-widest uppercase text-text-muted mb-6">Goodies</h4>
      <ul class="space-y-3">
        <li><a href="#" class="hover:text-text-highlight transition-colors">Code Snippets</a></li>
        <li><a href="#" class="hover:text-text-highlight transition-colors">Cursor Prompts</a></li>
      </ul>
    </div>
    <div>
      <h2 class="text-sm font-bold tracking-widest uppercase text-text-muted mb-6">General</h4>
      <ul class="space-y-3">
        <li><a href="#" class="hover:text-text-highlight transition-colors">About Me</a></li>
        <li>
          <div class="flex gap-x-5 items-center">
            <a href="#" class="text-text-muted hover:text-text-highlight transition-colors">
              <svg class="w-5 h-5" fill="currentColor" stroke="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </a>
            <a href="#" class="text-text-muted hover:text-text-highlight transition-colors">
              <svg class="w-5 h-5" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            </a>
            <a href="#" class="text-text-muted hover:text-text-highlight transition-colors">
              <svg class="w-5 h-5" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
            </a>
            <a href="#" class="text-text-muted hover:text-text-highlight transition-colors">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
            </a>
            <a href="#" class="text-text-muted hover:text-text-highlight transition-colors">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  
  <div class="mt-12 pt-2 border-t border-border/20 flex flex-col justify-center items-center text-sm gap-4 text-center">
    <div class="mb-4 md:mb-0">
      <p class="text-text-muted">©2025 Jeyhun Abbasov. All Rights Reserved.</p>
    </div>
  </div>
</footer>