---
import { getCollection } from 'astro:content';
import ArticleLatestList from '../components/ArticleLatestList.astro';
import ArticlePopularList from '../components/ArticlePopularList.astro';
import Pagination from '../components/Pagination.astro';

type Articles = Awaited<ReturnType<typeof getCollection<"articles">>>;

const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort((a, b) => a.data.date.getUTCFullYear() - b.data.date.getUTCFullYear()).reverse();
const featuredArticles = sortedArticles.filter(article => article.data.featured).slice(0, 3);

interface Props {
  prevUrl: string;
  nextUrl: string;
  articles: Articles;
}

const { prevUrl, nextUrl, articles }: Props = Astro.props;
---

<main class="flex-1 w-full max-w-7xl mx-auto py-16 px-6">
  <div class="flex flex-col md:flex-row gap-12 md:gap-16">
    <!-- Left Side -->
    <div class="w-full md:w-2/3">
      <!-- Latest Articles -->
      <section>
        <h2 class="text-2xl font-bold text-text mb-12 text-center md:text-left">Latest Articles</h2>
        <ArticleLatestList articles={articles}/>
        <Pagination prevUrl={prevUrl} nextUrl={nextUrl}/>
      </section>
    </div>

    <!-- Right Side -->
    <div class="w-full md:w-1/3 md:sticky md:top-24">
      <!-- Popular Articles -->
      <section class="mt-12">
        <h2 class="text-xl font-bold text-text mb-6 text-center md:text-left">Featured Articles</h4>
        <ArticlePopularList articles={featuredArticles}/>
      </section>
    </div>
  </div>
</main>