---
interface Props {
	prevUrl: string;
	nextUrl: string;
}

const { prevUrl, nextUrl }: Props = Astro.props;
---

<div class="flex justify-between items-center mt-12 gap-4 sm:flex-row flex-col">
    { prevUrl ? (
        <a href={prevUrl} class="border rounded-lg px-8 py-3 font-medium text-text-secondary hover:text-text-highlight">
            Previous
        </a>
    ) : (
        <div class="border rounded-lg px-8 py-3 font-medium text-text-muted opacity-50 cursor-not-allowed invisible">
            Previous
        </div>
    )}

    { nextUrl ? (
        <a href={nextUrl} class="border rounded-lg px-8 py-3 font-medium text-text-secondary hover:text-text-highlight">
            Next
        </a>
    ) : (
        <div class="border rounded-lg px-8 py-3 font-medium text-text-muted opacity-50 cursor-not-allowed invisible">
            Next
        </div>
    )}
</div>